body {
    background-image: url("https://cdna.artstation.com/p/assets/images/images/012/218/974/large/sebastian-kesiak-metalhellchinesejungleconceptfin12.jpg?1533662729");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top left;
    background-size: auto 120%;
    background-color: white;
    color: darkgrey;
}


table {
    margin: 10px;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0px 0px;
    margin-left: auto;
    margin-right: auto;
}


tr:first-child td {
    border-top-color: black;
}

tr:nth-child(3n) td {
    border-bottom-color: black;
}

td {
    border: 1px solid lightgrey;
    padding: 0px 0px;

}

td:first-child {
    border-left-color: black;
}

td:nth-child(3n) {
    border-right-color: black;
}

input {
    padding: 0px;
    border: 0px;
    width: 55px;
    height: 55px;
    text-align: center;
    color: blue;

}

input:read-only {
    color: black;
}

input:hover {
    background: #eee;
}

.winMessage {
    opacity: 0.0;
    pointer-events: none;
    position: fixed;
    z-index: -999;
    margin: 20% 40% 0% 40%;
}

@keyframes moveright {
    0% {
        opacity: 0.0;
        margin: 10% 40% 0% 40%;
    }

    100% {
        opacity: 1.0;
        margin: 10% 10% 0% 70%;
    }
}

@keyframes spinanim1 {
    0% {
        transform: rotate(0deg);
    }

    90% {
        transform: rotate(360deg);
    }

    92.5% {
        transform: rotate(370deg);
    }

    95% {
        transform: rotate(350deg);
    }

    97.5% {
        transform: rotate(370deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinanim2 {
    0% {
        transform: rotate(0deg);
    }

    90% {
        transform: rotate(-360deg);
    }

    92.5% {
        transform: rotate(-350deg);
    }

    95% {
        transform: rotate(-370deg);
    }

    97.5% {
        transform: rotate(-350deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.modal-content {

    white-space: pre-line;
}

.transbox {
    margin: 1% 35%;
    background-color: rgba(0,0,0,0.2);
    border: 1px solid black;
}

.ontop {
    text-align:center;
    color: white;
    opacity: 1.0;
}

.centreImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.grid-container {
    font-size: 18px;
}

.spin1 {
    animation-name: spinanim1;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.spin2 {
    animation-name: spinanim2;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.moveright {
    animation-name: moveright;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.funfill {
    background-color: lightgrey;
}