body {
    background-image: url("https://cdna.artstation.com/p/assets/images/images/012/218/974/large/sebastian-kesiak-metalhellchinesejungleconceptfin12.jpg?1533662729");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top left;
    background-size: auto 120%;
    background-color: white;
    color: darkgrey;
}


table {
    margin: 10px;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0px 0px;
}


tr:first-child td {
    border-top-color: black;
}

tr:nth-child(3n) td {
    border-bottom-color: black;
}

td {
    border: 1px solid lightgrey;
    padding: 0px 0px;
}

td:first-child {
    border-left-color: black;
}

td:nth-child(3n) {
    border-right-color: black;
}

input {
    padding: 0px;
    border: 0px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: blue;
}

input:read-only {
    color: black;
}

input:hover {
    background: #eee;
}

.winMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.0;
}

.modal-content {

    white-space: pre-line;
}